textarea {
    min-height: 400px;
    width: 700px;
    background: red;
    background-color: red;
}

/* class to span subject and timestamp horizontally */
.subject_timestamp_span{
    display: flex;
    justify-content: space-between;
}

/*class for the div element that we created in inbox.js whose name is div  */
/* singular email  */
.email-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.12); 
    border-radius: 5px;
    font-size: 15px;
    
}   

/* selecting all span elements in the div  */
.email-div span {
    display: flex;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-div span.sender{
    flex-basis: 20%;
}

.email-div span.subject{
    flex-basis: 50%;
}

.email-div span.timestamp{
    flex-basis: 20%;
}

.email-div span.archive{
    flex-basis: 3%;
    text-align: justify;
}