textarea {
    min-height: 400px;
    width: 700px;
}

/* class to span subject and timestamp horizontally */
.subject_timestamp_span{
    display: flex;
    justify-content: space-between;
}

/*class for the div element that we created in inbox.js whose name is div  */
/* singular email  */
.email-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.12); 
    border-radius: 5px;
    font-size: 15px;
    
} 

/* hover email effect */
.email-div:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light gray overlay */
  }
  

/* selecting all span elements in the div  */
.email-div span {
    display: flex;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* inbox and archive mails styling */
.email-div span.sender{
    flex-basis: 15%;
}

.email-div span.subject{
    flex-basis: 40%;
}

.email-div span.timestamp{
    flex-basis: 20%;
}

/* archive button in inbox mailbox */
.email-div span.archive{
    flex-basis: 3%;
}

/* unarchive button in archive mailbox */
.email-div span.unarchive{
    flex-basis: 3%;
}

/* sent mailbox styling */
.email-div span.sent-sender{
    flex-basis: 20%;
}

.email-div span.sent-subject{
    flex-basis: 60%;
}

.email-div span.sent-timestamp{
    flex-basis: 15%;
}


/* hover archive mail effect */
.archive:hover svg{
    background-color: rgba(0, 0, 0, 0.305); /* Light gray overlay */
    border: 50px;
    border-width: 10px;
}

/* hover unarchive mail effect */
.unarchive:hover svg{
    background-color: rgba(0, 0, 0, 0.305); /* Light gray overlay */
}



  
