{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <!-- in projects below refers to "displayed in h2" -->
    <h7>{{ request.user.email }}</h7><br>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- emails-view -->
    <!-- emails-views lies here , they include - 'inbox','sent' and 'archived' -->
    <div id="emails-view">
    </div>

    <!-- compose-view -->
    <div id="compose-view">
        <h3>Compose</h3>
        <form id="compose-form">

            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>

            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>

            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea><br>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    
    <!-- detail_emails-view -->
    <div id="detail_emails-view">

        <div class="form-group subject_timestamp_span"> <!--using subject_timestamp_span to span subject and timestamp left and right-->
            <h3 id="detail_subject"></h3>
            <div id="detail_timestamp"></div>
        </div>

        <div id="detail_sender" class="form-group">
            
        </div>

        <div id="detail_reciepents" class="form-group">
            
        </div>

        <div class="form-group">
            <textarea id="detail_body" class="form-control" disabled>{{ request.user.email }}</textarea>
        </div>
        
        <input type="submit" class="btn btn-primary" name="reply" value="↩ Reply" id="reply"> 
    </div>


    <!-- reply-compose-view -->
    <!-- <div id="reply-compose-view">
        <h3>Compose</h3>
        <form id="reply-compose-form">

            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            
            <div class="form-group">
                To: <input id="reply-compose-recipients" class="form-control">
            </div>

            <div class="form-group">
                <input class="form-control" id="reply-compose-subject" placeholder="Subject">
            </div>

            <textarea class="form-control" id="reply-compose-body" placeholder="Body"></textarea><br>

            <input type="submit" class="btn btn-primary" value="send">
        </form>
    </div> -->










{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}